    .main {
        margin-top: var(--hight-header);
    }
    /* ----Header---- */
    
    .header {
        height: var(--hight-header);
        background-color: var(--bg-cl-2);
        display: flex;
        padding: 0 16px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }
    
    .header__logo {
        background-color: var(--bg-cl-1);
        display: flex;
        width: 200px;
    }
    
    .header__logo img {
        width: 120px;
        margin: auto;
    }
    
    .header__nav {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-evenly;
    }
    
    .header__nav-link {
        font-size: 1.7rem;
        color: var(--text-cl-2);
        text-transform: uppercase;
        text-shadow: 0 1px 5px var(--box-shadow-cl-1);
        padding: 20px 0;
        cursor: pointer;
    }
    
    .header__nav-link:hover,
    .subnav__link:hover {
        color: var(--text-cl-df);
        /* text-shadow: 0 1px 5px var(--box-shadow-cl-2); */
        transition: all linear 0.3s;
    }
    
    .subnav__list {
        position: absolute;
        top: var(--hight-header);
        background-color: var(--bg-cl-2);
        flex-wrap: wrap;
        width: 37vw;
        max-height: 62vh;
        border-top: 2px solid var(--text-cl-df);
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
        padding: 8px 4px;
        transform-origin: top left;
        will-change: transform, opacity;
        animation: fadeInScale linear 0.3s;
        z-index: 3;
        overflow-y: auto;
        display: none;
    }
    
    .subnav__item {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .subnav__link {
        color: var(--text-cl-2);
        font-size: 1.5rem;
        display: block;
        font-weight: 400;
        line-height: 2rem;
        padding: 16px;
        text-transform: none;
    }
    
    #open-category:checked~.subnav__list,
    #open-category:checked~.overlay,
    #open-nation:checked~.subnav__list,
    #open-nation:checked~.overlay {
        display: flex;
    }
    
    .header__control {
        display: flex;
        align-items: center;
        min-width: 200px;
        max-width: 250px;
        float: right;
    }
    
    .control-search {
        font-size: 2.2rem;
        color: var(--text-cl-2);
        margin-right: 24px;
    }
    
    .control-search i {
        font-weight: 400;
    }
    
    .header__search {
        position: fixed;
        top: var(--hight-header);
        left: 0;
        right: 0;
        height: var(--hight-search);
        background-color: var(--bg-cl-2);
        border-top: 0.5px solid rgba(255, 255, 255, 0.1);
        justify-content: center;
        will-change: transform, opacity;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
        z-index: 3;
        animation: downShow linear 0.3s;
        display: none;
    }
    
    #open-search:checked~.header__search,
    #open-search:checked~.overlay {
        display: flex;
    }
    
    .header__search-wrap {
        display: flex;
        align-items: center;
        background-color: var(--bg-cl-1);
        width: 1200px;
        padding: 0 16px;
    }
    
    .header__search-input {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.5rem;
        background-color: transparent;
        font-weight: 500;
        color: var(--text-cl-2);
    }
    
    .control-login {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .control-login:before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 30px;
    }
    
    .acount__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 8px;
    }
    
    .acount__name {
        font-size: 1.6rem;
        color: var(--text-cl-2);
        display: inline-block;
        max-width: 120px;
        text-align: center;
    }
    
    .login-icon {
        display: none;
        -webkit-tap-highlight-color: transparent;
    }
    
    .login-icon i {
        border-radius: 4px;
        background-color: var(--btn-cl);
        padding: 5px;
        font-size: 2.2rem;
        font-weight: 100;
        color: var(--text-cl-2);
        box-shadow: 0 0 10px var(--box-shadow-btn);
    }
    
    .acount__list {
        border-top: 2px solid var(--text-cl-df);
        position: absolute;
        background-color: var(--bg-cl-1);
        top: 62px;
        min-width: 170px;
        padding: 12px;
        transform-origin: top left;
        will-change: transform, opacity;
        animation: fadeInScale linear 0.3s;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
        display: none;
    }
    
    .acount__link {
        color: var(--text-cl-2);
        font-size: 1.6rem;
        display: block;
        padding: 8px 0;
    }
    
    .acount__link:hover {
        color: var(--text-cl-df);
        transition: all 0.3s;
    }
    
    .control-login:hover .acount__list {
        display: block;
    }
    /* ----------Footer------ */
    
    .footer {
        background-color: var(--bg-cl-2);
        border-top: 2px solid var(--bd-cl-2);
        box-shadow: 1px 4px 10px var(--box-shadow-btn);
    }
    
    .footer .grid.wide {
        padding-top: 60px
    }
    
    .footer__title {
        font-size: 1.7rem;
        padding-bottom: 16px;
        color: var(--text-cl-1);
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    }
    
    .footer__list li {
        padding: 8px 0;
    }
    
    .footer__list li a,
    .footer-link,
    .copyright {
        font-size: 1.4rem;
        cursor: pointer;
        color: var(--text-cl-3);
        font-weight: 300;
    }
    
    .footer__list li a:hover {
        color: var(--text-cl-df);
        transition: all linear 0.2s;
    }
    
    .footer__social {
        display: flex;
        margin: 16px 0;
    }
    
    .footer__social li {
        margin-right: 20px;
    }
    
    .footer__social i {
        font-size: 2.4rem;
    }
    
    .footer__social .facebook a i {
        color: #3b5999;
    }
    
    .footer__social .instagram a i {
        color: #e4405f;
    }
    
    .footer__social .twitter a i {
        color: #55acee;
    }
    
    .footer__social .vk a i {
        color: #4c75a3;
    }
    
    .footer__app .col {
        margin-top: 10px;
    }
    
    .app-connect__img {
        width: 130px;
        height: 42px;
    }
    
    .copyright {
        display: flex;
        justify-content: space-between;
        height: var(--hight-header);
        border-top: 0.5px solid var(--bd-cl-1);
        align-items: center;
        margin-top: 30px;
    }
    
    .copyright__list {
        display: flex;
    }
    
    .copyright a {
        font-size: 1.4rem;
        cursor: pointer;
        color: var(--text-cl-2);
        font-weight: 400;
    }
    
    .copyright__list li {
        margin-left: 16px;
    }
    
    #account {
        display: none;
    }
    /* --------Reponsive--------- */
    
    @media (max-width:1200px) {
        .header__logo {
            margin-right: auto;
        }
        .header__nav {
            position: fixed;
            right: 0;
            bottom: 0;
            top: var(--hight-header);
            background-color: var(--bg-cl-1);
            width: 300px;
            border-top: 2px solid var(--bd-cl-2);
            animation: showInLeft linear 0.3s;
            padding: 8px 0px;
            display: none;
            z-index: 5;
        }
        .header__nav-item {
            position: relative;
        }
        .header__nav-link {
            display: block;
            width: 100%;
            -webkit-tap-highlight-color: transparent;
            padding: 0 16px;
            line-height: 4.8rem;
        }
        .subnav__list {
            width: 268px;
            top: 100%;
            right: 16px;
        }
        #account-list {
            display: none;
        }
        .subnav__item {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .header__search-wrap {
            width: 100%;
            margin: 0 16px;
        }
        .navbar-icon {
            width: 28px;
            height: 28px;
            position: relative;
            margin: auto 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            margin-left: 16px;
        }
        .navbar-icon span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: var(--text-cl-2);
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        .navbar-icon span:nth-child(1) {
            top: 0px;
        }
        .navbar-icon span:nth-child(2) {
            top: 10px;
        }
        .navbar-icon span:nth-child(3) {
            top: 20px;
        }
        #open-navbar:checked~.header__nav,
        #open-navbar:checked~.overlay {
            display: block;
        }
        #open-navbar:checked~.navbar-icon span:nth-child(1) {
            top: 12px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        #open-navbar:checked~.navbar-icon span:nth-child(2) {
            opacity: 0;
            left: -8px;
        }
        #open-navbar:checked~.navbar-icon span:nth-child(3) {
            top: 12px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
        .app-connect__img {
            width: 110px;
            height: 38px;
        }
    }
    
    @media(max-width:1024px) {
        .control-login .btn {
            display: none;
        }
        .login-icon {
            display: block;
        }
        .acount__list {
            top: 52px;
        }
    }
    
    @media(max-width:768px) {
         :root {
            --hight-header: 70px;
        }
        .header__control {
            min-width: 50px;
        }
        .control-login {
            display: none;
        }
        .control-search {
            margin: auto;
        }
        #account {
            display: block;
        }
        #account .header__nav-link {
            padding: 12px 12px;
            border-bottom: 1px solid var(--text-cl-2);
        }
        #account:hover #account-list {
            display: block;
        }
    }
    
    @media(max-width:480px) {
        .row.gt-s .col {
            margin-top: 20px;
        }
        .row.gt-s .col {
            margin-top: 20px;
        }
        .header {
            padding: 0 8px;
        }
        .header__search-wrap {
            margin: 0 8px;
        }
        .grid.wide {
            padding: 0 8px;
        }
        .header__logo {
            width: 150px;
        }
        .header__logo img {
            width: 100px;
        }
        .navbar-icon {
            margin-left: 16px;
        }
        .notify__amount {
            padding: 2px 4px;
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
        .footer__social li {
            margin-right: 10px;
        }
        .footer__social i {
            font-size: 1.8rem;
        }
        .app-connect__img {
            width: 100px;
            height: 36px;
        }
        .footer-link {
            font-size: 1.3rem;
        }
        .copyright {
            flex-direction: column;
            justify-content: space-evenly;
        }
    }